// Imports
    @import 'modules/_all';
// END Imports

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

html, body {
    height: 100%;
}

body {
    font: 100% $font;
}

img {
    max-width: 100%;
    border: none;
}

img:focus,
input:focus,
textarea:focus,
select:focus,
a:focus,
button:focus {
    outline: none;
}

.main {
    @extend .normal;
    .box {
        @extend .normal-box;
    }
}

.all-center {
    #position: absolute;
    #top: 50%;
    display: table-cell;
    vertical-align: middle;
}

.center {
    #position: relative;
    #top: -50%;
}

.slicknav_menu {
    display: none;

    @media screen and (min-width: $mobile) {
        display: none;
    }

    @media screen and (max-width: $mobile) {
        display: block;
    }
}

// SECTION ALL - Seção geral
    .all {
        .content {
        }
    }
// END SECTION ALL

// HEADER
    //MENU
        header {
        }
// END HEADER

// FOOTER 
    footer {
    }
// END FOOTER
